{{ partial "header.html" . }}

<div class="row">
	<div class="col-sm-8 doc-main">
		<main role="main">
			<div class="doc-list-header">
				<h3>Topics in {{ .Title }}</h3>
			</div>
			<div class="doc-list-entry">
			<ul>
	{{ range .Data.Pages }}
				<li><a class="doc-entry" href="{{ .RelPermalink }}">
					<span class="doc-entry-title">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</span>
					{{ if .IsTranslated }}
						{{ range .Translations }}
								<span class="doc-entry-meta" > 
									<a href ="{{ .Permalink }}" >({{ .Lang}}{{ if .IsPage }}{{ end }})</a>
								</span>
						{{ end}}
					{{ end }}
				</a></li>
	{{ end }}
			</ul>
			</div>
		</main>
	</div> <!-- /.doc-main -->

	{{ partial "sidebar-list.html" . }}

</div> <!-- /.row -->
</div> <!-- /.container -->
</body>
</html>